<%= render partial: "shared/nav_bar" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Start Using Watson Now!</h1>
      <%= link_to "Take the test!", ask_questions_path %>
    </div>
  </div>
  <div class="row">
    <% if @top_answer.nil? %>
      <h6>Take the test to find matches!</h6>
    <% elsif !@matches.blank? %>
      <h6>Matches found...</h6>
      <% @matches.each do |user| %>
        <p><%= user.email %></p>
        <a type="button" href="<%= room_path(id: user.id) %>" class="btn-md btn-primary">Send Message</a>
        <br />
      <% end %>
    <% else %>
      <h6>Unable to find matches :(</h6>
    <% end %>
  </div>
</div>
