<%= render partial: "shared/nav_bar" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Start Using Watson Now!</h1>
      <%= link_to "Take the test!", '#' %>
    </div>
  </div>
</div>
